{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}

{% block content %}


        <div id="console-output">></div>

        <div class="controls">
            <input type="text" id="cmdInput" placeholder="Enter command" onkeydown="if(event.key==='Enter') sendCommand()">
            <button onclick="sendCommand()">Send</button>
            <button class="btn-clear" id="clearBtn">Clear</button>
        </div>

        <div class="presets-container">
            <h4>Match Control</h4>
            <div class="preset-group">
                <button class="btn-preset" onclick="runPreset('mp_restartgame 1')">Restart Match</button>
                <button class="btn-preset" onclick="runPreset('mp_swapteams')">Swap Teams</button>
                <button class="btn-preset" onclick="runPreset('mp_pause_match')">Pause Match</button>
                <button class="btn-preset" onclick="runPreset('mp_unpause_match')">Unpause Match</button>
            </div>

            <h4>Warmup</h4>
            <div class="preset-group">
                <button class="btn-preset" onclick="runPreset('mp_warmup_start; mp_warmup_pausetimer 1')">Start Warmup</button>
                <button class="btn-preset" onclick="runPreset('mp_warmup_end')">End Warmup</button>
                <button class="btn-preset" onclick="runPreset('mp_warmuptime 0; mp_warmup_end; mp_ct_default_secondary \'\'; mp_t_default_secondary \'\'; mp_free_armor 1; mp_give_player_c4 0; mp_maxmoney 0; mp_startmoney 0; mp_roundtime 1.92; mp_restartgame 1;')">Start Knife Round</button>
                <button class="btn-preset" onclick="runPreset('mp_ct_default_secondary weapon_hkp2000; mp_t_default_secondary weapon_glock; mp_free_armor 0; mp_give_player_c4 1; mp_maxmoney 16000; mp_startmoney 800; mp_roundtime 1.92; mp_freezetime 15; mp_restartgame 1;')">End Knife Round</button>
            </div>

            <h4>Bots</h4>
            <div class="preset-group">
                <button class="btn-preset" onclick="runPreset('bot_kick')">Kick Bots</button>
                <button class="btn-preset" onclick="runPreset('bot_add t')">Add Bot T</button>
                <button class="btn-preset" onclick="runPreset('bot_add ct')">Add Bot CT</button>
            </div>
        </div>
        <div class="launcher-row"> 
        <h4>Match Launcher</h4>
            <div class="launcher-controls">
                <div class="launcher-item">
                    <select id="launchMode" onchange="syncMapToMode()">
                        <option value="" disabled selected hidden>Select Gamemode</option>
                        <option value="0,1" data-type="comp">Competitive</option>
                        <option value="0,2" data-type="wing">Wingman</option>
                        <option value="0,0" data-type="casual">Casual</option>
                        <option value="1,2" data-type="dm">Deathmatch</option>
                        <option value="1,0" data-type="ar">Arms Race</option>
                        <option value="3,0" data-type="cm">Custom</option>
                    </select>
                </div>
                <div class="launcher-item">
                    <select id="launchMap" disabled>
                        <option value="" id="mapPlaceholder" disabled selected hidden>Select Map</option>
                        {% for map in maps %}
                            <option value="{{ map.map_alias }}" 
                                    data-comp="{{ map.is_competitive }}"
                                    data-wing="{{ map.is_wingman }}"
                                    data-casual="{{ map.is_casual }}"
                                    data-dm="{{ map.is_deathmatch }}"
                                    data-ar="{{ map.is_armsrace }}"
                                    data-cm="{{ map.is_custom }}">
                                {{ map.map_name }}
                            </option>
                        {% endfor %}
                    </select>
                </div> 

                <div> 
                    <button class="btn-preset btn-launch" onclick="buildAndLaunch()">START MATCH</button>
                </div>
            </div> 
        </div>    
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/dashboard.js') }}" defer></script>
{% endblock %}