{% extends "base.html" %}

{% block title %}Map Manager{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map_manager.css') }}">
{% endblock %}

{% block content %}
    <div class="temp-box">
        <h4>Steam Workshop Map Manager</h4>
        <p style="color: #888; font-size: 0.9em;">Map management features coming soon...</p>
        
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/map_manager.js') }}" defer></script>
{% endblock %}