{% extends "base.html" %}

{% block title %}Map Manager{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map_manager.css') }}">
{% endblock %}

{% block content %}
    <div class="manager-container">
        <h3>Add Workshop Map</h3>
        <div class="input-group">
            <input type="text" id="wsInput" placeholder="Enter Workshop ID">
            <button onclick="submitMap()">Add Map</button>
        </div>
        <div id="statusMessage"></div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/map_manager.js') }}" defer></script>
{% endblock %}